@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap&family=Montserrat:ital@1&display=swap');

.header {
  border-bottom: solid 1px gray;
}

.cookAppBox {
  margin: 10px 0 0 50px;
}

.cookApp {
  font-family: 'Playfair Display', serif;
  color: rgba(255, 214, 7, 0.862);
  font-weight: bold;
}

.flex {
  padding: 2.5% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 8%;
  text-align: center;
  justify-content: space-between;
}

.wrap {
  position: relative;
  margin: 0px auto;
  width: 800px;
}

.cookList {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid 2px rgba(255, 214, 7, 0.862);;
  padding-bottom: 10px;
}

.flexInner {
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 8%;
  text-align: center;
  justify-content: space-between;
}

.cookImageBox {
  width: 30%;
}

/* これ以下は切り替え先の分 */
.flex2 {
  padding: 2.5% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 8%;
  text-align: center;
  justify-content: space-between;
}

.wrap2 {
  position: relative;
  margin: -15px auto;
}

.title {
  text-align: left;
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  color: darkorange;
  border-bottom: 2px solid darkgoldenrod;
}

.contentsBox {
  border-radius: 5px;
  width: 650px;
}

.description {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: deeppink;
}

.materialP {
  text-align: left;
  border-bottom: solid 0.3px gray;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}